html,
body {
  padding: 0;
  margin: 0;
  font-family: "Boldonse", system-ui;
}

@font-face {
  font-family: 'Typefesse';
  src: url('/fonts/Typefesse_Claire-Obscure.woff') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Koolegant';
  src: url('/fonts/Koolegant-K7my7.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(24, 24, 31);
    color: rgb(238, 238, 238);
  }
}

a {
  color: #2563eb;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-weight: 800;
}